@page "/"
@inject MaturaService MaturaService
@inject CollegeService CollegeService

<form>
    <div class="mb-3">
        <label class="form-label">Smjer:</label>
        <InputSelect @bind-Value=studyProgramme class="form-select">
            @foreach (var i in studyProgrammes)
            {
                <option class="" Value="@i">@i.Programme</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label">Godina:</label>
        <InputSelect @bind-Value=year class="form-select">
            @foreach (var i in years)
            {
                <option Value="@i">@i.Year</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label">Razina mature iz engleskog jezika:</label>
        <InputSelect @bind-Value=maturaLevel class="form-select">
            @foreach (var i in maturaLevels)
            {
                <option Value="@i">@i.MaturaLevel1</option>
            }
        </InputSelect>
    </div>
    <div class="mb-3">
        <label class="form-label">Ocjena mature iz engleskog jezika:</label>
        <InputSelect @bind-Value=maturaGrade class="form-select">
            @foreach (var i in maturaGrades)
            {
                <option Value="@i">@i.Grade</option>
            }
        </InputSelect>
    </div>
</form>

@code
{
    List<StudyProgramme> studyProgrammes = new List<StudyProgramme>();
    List<AcademicYear> years = new List<AcademicYear>();
    List<MaturaLevel> maturaLevels = new List<MaturaLevel>();
    List<MaturaGrade> maturaGrades = new List<MaturaGrade>();

    StudyProgramme studyProgramme;
    AcademicYear year;
    MaturaLevel maturaLevel;
    MaturaGrade maturaGrade;

    protected override async Task OnInitializedAsync()
    {
        studyProgrammes = await CollegeService.GetStudyProgrammes();
        years = await CollegeService.GetAcademicYears();
        maturaLevels = await MaturaService.GetMaturaLevels();
        maturaGrades = await MaturaService.GetMaturaGrades();
    }
}
